<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>AddTblInfo</servlet-name>
    <servlet-class>dwMapMgmt.AddTblInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTblInfo</servlet-name>
    <url-pattern>/AddTblInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewTblInfo</servlet-name>
    <servlet-class>dwMapMgmt.ViewTblInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTblInfo</servlet-name>
    <url-pattern>/ViewTblInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTableInfo</servlet-name>
    <servlet-class>dwMapMgmt.UpdateTblInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTableInfo</servlet-name>
    <url-pattern>/UpdateTableInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddColInfo</servlet-name>
    <servlet-class>dwMapMgmt.AddColInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddColInfo</servlet-name>
    <url-pattern>/AddColInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateColInfo</servlet-name>
    <servlet-class>dwMapMgmt.UpdateColInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateColInfo</servlet-name>
    <url-pattern>/UpdateColInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewTableCoulmns</servlet-name>
    <servlet-class>dwMapMgmt.ViewColInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTableCoulmns</servlet-name>
    <url-pattern>/ViewTableCoulmns</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewTableCoulmnsAll</servlet-name>
    <servlet-class>dwMapMgmt.ViewColInfoAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTableCoulmnsAll</servlet-name>
    <url-pattern>/ViewTableCoulmnsAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ETLTraceQuery</servlet-name>
    <servlet-class>dwMapMgmt.ETLTraceQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ETLTraceQuery</servlet-name>
    <url-pattern>/ETLTraceQuery</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DataMapUpload</servlet-name>
    <servlet-class>dwMapMgmt.DataMapUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataMapUpload</servlet-name>
    <url-pattern>/DataMapUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LocalFileUpload</servlet-name>
    <servlet-class>dwMapMgmt.LocalFileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalFileUpload</servlet-name>
    <url-pattern>/LocalFileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExcelPDMGen</servlet-name>
    <servlet-class>dwMapMgmt.ExcelPDMGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelPDMGen</servlet-name>
    <url-pattern>/ExcelPDMGen</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>Actionloging</servlet-name>
    <servlet-class>dwMapMgmt.Actionloging</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Actionloging</servlet-name>
    <url-pattern>/Actionloging</url-pattern>
  </servlet-mapping>  
</web-app>